# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
ENV/
env/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# Test outputs
coverage/
*.cover
*.coverage
*.lcov

# Build outputs
dist/
build/
*.egg-info/

# Other
*.sqlite3
*.db
*.lock
*.bak
*.old
*.orig
*.save